
<header id="header">
    <nav class="navbar navbar-inverse" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index","Home",new { area = ""}, null)" title="India Entertainers"><img src="~/images/site-logo.png" alt="logo"></a>
            </div>
            <div class="collapse navbar-collapse navbar-right">
                @if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
                {
                    <ul class="nav navbar-nav">
                        <li><a href="@Url.Action("Category", "Category", new { area = "Admin"}, null)">Category</a></li>
                        <li><a href="@Url.Action("FAQ", "Home", new { area = ""}, null)">FAQs</a></li>
                        <li><a href="@Url.Action("LogOut", "Account", new { area = ""}, null)">Log Out</a></li>
                    </ul>
                }
                else if (User.IsInRole("EntertainerBS") || User.IsInRole("EntertainerPRM"))
                {
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Entertainers <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Index", "Entertainers", new { area = "", q="Singers"}, null)">Singers</a></li>
                                <li><a href="@Url.Action("Index", "Entertainers", new { area = "", q= "Bands" }, null)">Bands</a></li>
                                <li><a href="@Url.Action("Index", "Entertainers", new { area = "", q= "Dancers" }, null)">Dancers</a></li>
                                <li><a href="@Url.Action("Index", "Entertainers", new { area = "", q= "DJS" }, null)">DJS</a></li>
                                <li><a href="@Url.Action("Index", "Entertainers", new { area = "", q= "Anchors" }, null)">Show Anchors</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("MyPofile", "MyAccount", new { area = "Entertainer"}, null)">My Profile</a></li>
                                @*<li><a href="@Url.Action("MyImages", "MyAccount", new { area = "Entertainer"}, null)">My Images</a></li>
                                <li><a href="@Url.Action("MyVideos", "MyAccount", new { area = "Entertainer"}, null)">My Videos</a></li>
                                <li><a href="@Url.Action("Update", "MyAccount", new { area = "Entertainer"}, null)">Update</a></li>*@
                                <li><a href="@Url.Action("ProfileDetail", "MyAccount", new { area = "Entertainer"}, null)">Show Profile</a></li>
                            </ul>
                        </li>
                        @*<li><a href="javascript:;" data-toggle="modal" data-target="#MyProfile">My Categories</a></li>*@
                        <li><a href="@Url.Action("FAQ", "Home", new { area = ""}, null)">FAQs</a></li>
                        <li><a href="javascript:;" data-toggle="modal" data-target="#contactdialog">Contact Us</a></li>
                        <li><a href="@Url.Action("LogOut", "Account", new { area = ""}, null)">Log Out</a></li>
                    </ul>
                }
                else if (User.IsInRole("TalentSeekerBS") || User.IsInRole("TalentSeekerPRM"))
                {
                    <ul class="nav navbar-nav">
                        <li><a href="@Url.Action("MyPofile", "Dashboard", new { area = "TalentSeeker"}, null)">My Profile</a></li>
                        <li><a href="javascript:;" data-toggle="modal" data-target="#contactdialog">My Entertainer</a></li>
                        <li><a href="@Url.Action("FAQ", "Home", new { area = ""}, null)">FAQs</a></li>
                        <li><a href="javascript:;" data-toggle="modal" data-target="#contactdialog">Contact Us</a></li>
                        <li><a href="@Url.Action("LogOut", "Account", new { area = ""}, null)">Log Out</a></li>
                    </ul>
                }
                else
                {
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Entertainers <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Index", "Entertainers", new { area = "", q="Singers"}, null)">Singers</a></li>
                                <li><a href="@Url.Action("Index", "Entertainers", new { area = "", q= "Bands" }, null)">Bands</a></li>
                                <li><a href="@Url.Action("Index", "Entertainers", new { area = "", q= "Dancers" }, null)">Dancers</a></li>
                                <li><a href="@Url.Action("Index", "Entertainers", new { area = "", q= "DJS" }, null)">DJS</a></li>
                                <li><a href="@Url.Action("Index", "Entertainers", new { area = "", q= "Anchors" }, null)">Show Anchors</a></li>
                            </ul>
                        </li>
                        <li><a href="@Url.Action("AboutUs", "Home", new { area = ""}, null)">About Us</a></li>
                        <li><a href="@Url.Action("FAQ", "Home", new { area = ""}, null)">FAQs</a></li>
                        <li><a href="javascript:;" data-toggle="modal" data-target="#contactdialog">Contact Us</a></li>
                        <li><a href="javascript:;" data-toggle="modal" data-target="#myModal">Login/Register</a></li>
                    </ul>
                }

            </div>
        </div>
    </nav>
</header>
