@model IndiaEntertainers.Models.tbl_Entertainer
@{
    ViewBag.Title = "Register";
}

<div class="detail-page page" ng-controller="IndEntnJSController">

    <section id="breadcrumbs">
        <div class="container">
            <div class="row">
                <span class="url_lnk hme"><a href="javascript:;" title="Home" class="home_icon">Home</a></span> <b>&gt;</b> <span class="url_lnk">Entertainers</span>
            </div>
        </div>
    </section>

    <section id="home-banner" class="home-banner register-frm-wrp">
        <div class="container">
            <p class="sub-title">REGISTERATON OF ARTIST</p>
            <div class="stepwizard">
                <div class="head_topic stp1">Step 1. Please share your basic Contact Details</div>
                <div class="head_topic stp2 hidden">Step 2. Add upto 3 Categories of Entertainment</div>
                <div class="head_topic stp3 hidden">Step 3. Enter Details about your performances</div>
                <div class="head_topic stp4 hidden">Step 4. Enter Details about your performances</div>
                <div class="stepwizard-row setup-panel">
                    <span class="bar_progress"></span>
                    <div class="stepwizard-step step-nav-1">
                        <a href="#step-1" type="button" class="btn btn-primary btn-circle cr1"><i class="fa fa-address-book-o" aria-hidden="true"></i></a>
                        <!-- <p>Step 1</p> -->
                    </div>
                    <div class="stepwizard-step step-nav-2">
                        <a href="#step-2" type="button" class="btn btn-default btn-circle cr2" disabled="disabled"><img src="~/images/step2.png" alt="" /></a>
                        <!-- <p>Step 2</p> -->
                    </div>
                    <div class="stepwizard-step step-nav-3">
                        <a href="#step-3" type="button" class="btn btn-default btn-circle cr3" disabled="disabled"><img src="~/images/step3.png" alt="" /></a>
                        <!-- <p>Step 3</p> -->
                    </div>
                    <div class="stepwizard-step step-nav-4">
                        <a href="#step-4" type="button" class="btn btn-default btn-circle cr4" disabled="disabled"><img src="~/images/step4.png" alt="" /></a>
                        <!-- <p>Step 4</p> -->
                    </div>
                </div>
            </div>
            @using (Html.BeginForm("Register", "MyAccount", FormMethod.Post, new { @enctype = "multipart/form-data", id="RegisterationForm" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-label form-css-label">
                    <div class="row setup-content step-form-1" id="step-1">
                        <div class="col-md-12">
                            <input type="hidden" name="UserId" value="@ViewBag.uid" />

                            <div class="form-group">
                                <input type="text" name="FName" class="form-control chkinput" />
                                <label class="control-label">Artist/Group Name</label>
                                @Html.ValidationMessageFor(model => model.FName, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <input maxlength="100" name="Email" type="email" class="form-control chkinput" />
                                <label class="control-label">Email Address</label>
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <input type="number" name="Mobile" maxlength="10" minlength="10" class="form-control chkinput" />
                                <label class="control-label">Mobile Number</label>
                                @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group drpdwn state">
                                <div class="btn-group">
                                    @IndiaEntertainers.HTMLHelper.CustomHelper.StateModelDropDownList(null)
                                    @Html.ValidationMessage("StateId", "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            @*<div class="form-group drpdwn gen">
                                <div class="btn-group">
                                    <select name="CityId" id="CityId" class="form-control chkinput" required> </select>
                                    @Html.ValidationMessageFor(model => model.CityId, "", new { @class = "text-danger" })
                                </div>
                            </div>*@

                            <div class="form-group drpdwn state">
                                <div class="btn-group">
                                    <button data-toggle='dropdown' class='btn dropdown-toggle' name='CityId' id='CityId' data-placeholder='Please select' required>
                                        <span class='selected_city'>Select City</span> <span class='caret'></span>
                                    </button>
                                    <ul class='dropdown-menu' style='max-height:250px;' id="CityModelId">
                                        @*<li>
                                            <div class='radio radio-danger'>
                                                <input type='radio' name='CityIdd' id='City-7777' value='777777' />
                                                <label for='City-7777'>MMMMMM</label>
                                            </div>
                                        </li>*@
                                    </ul>
                                    @Html.ValidationMessage("CityId", "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="clearfix"></div>
                            <div class="btn-nxt-wrp"><a href="javascript:;" class="nextBtn">Next</a></div>
                        </div>
                    </div>
                    <!-- step 1 ends -->
                    <div class="clearfix"></div>
                    <div class="row setup-content step-form-1 step-form-2" id="step-2">
                        <div class="col-md-12">
                            <div class="section_clone" id="box_sec1">
                                <div class="clearfix"></div>
                                <div class="form-group drpdwn catttt">
                                    <div class="btn-group">
                                        @IndiaEntertainers.HTMLHelper.CustomHelper.CategoryModelDropDownList(null)
                                        @Html.ValidationMessage("CatId", "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input name="Performancefee" autocomplete="off" type="text" class="form-control chkinput" />
                                    <label class="control-label">Category Pricing (in Rs.)</label>
                                    @Html.ValidationMessageFor(model => model.Performancefee, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="clearfix cat_Sec_end"></div>

                            @*<div class="btn-nxt-wrp"><span class="nextBtn1 reg">ADD ANOTHER CATEGORY</span></div>*@
                            <div class="btn-nxt-wrp"><a href="javascript:;" class="nextBtn">Next</a></div>
                        </div>
                    </div>

                    <!-- step 2 ends -->

                    <div class="row setup-content step-form-1 step-form-3" id="step-3">
                        <div class="col-sm-12 padding0">
                            <div class="col-sm-6 padding0">
                                <div class="pull-left text-left">
                                    <p>Number of Performing Members:</p>
                                    <div class="radio radio-danger">
                                        <input type="radio" name="Type" id="input_val4" value="Individual">
                                        <label for="input_val4">
                                            Individual
                                        </label>
                                    </div>
                                    <div class="radio radio-danger">
                                        <input type="radio" name="Type" id="input_val5" value="Duo">
                                        <label for="input_val5">
                                            Duo
                                        </label>
                                    </div>
                                    <div class="radio radio-danger">
                                        <input type="radio" name="Type" id="input_val6" value="Group">
                                        <label for="input_val6">
                                            Group
                                        </label>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                                </div>

                                <div class="pull-right radio-div text-left">
                                    <input type="text" name="Type" autocomplete="off" class="form-control chkinput" />
                                    <label class="control-label">Specify</label>
                                    <br />
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-sm-12 pad0">
                                    <input type="text" name="PerfLength" autocomplete="off" class="form-control chkinput">
                                    <label class="control-label">Performance length (in minutes)</label>
                                    @Html.ValidationMessageFor(model => model.PerfLength, "", new { @class = "text-danger" })
                                </div>

                                <div class="pull-left text-left">
                                    <br /><br />
                                    <p>Number of years you have been performing:</p>
                                    <div class="radio radio-danger">
                                        <input type="radio" name="MName" id="radio1" value="0-1">
                                        <label for="radio1">
                                            0-1
                                        </label>
                                    </div>
                                    <div class="radio radio-danger">
                                        <input type="radio" name="MName" id="input_val7" value="1-3">
                                        <label for="input_val7">
                                            1-3
                                        </label>
                                    </div>
                                    <div class="radio radio-danger">
                                        <input type="radio" name="MName" id="input_val8" value="3-5">
                                        <label for="input_val8">
                                            3-5
                                        </label>
                                    </div>
                                    <div class="radio radio-danger">
                                        <input type="radio" name="MName" id="input_val9" value="5-10">
                                        <label for="input_val9">
                                            5-10
                                        </label>
                                    </div>
                                    <div class="radio radio-danger">
                                        <input type="radio" name="MName" id="input_val10" value="10+">
                                        <label for="input_val10">
                                            10+
                                        </label>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.MName, "", new { @class = "text-danger" })
                                    <br />
                                </div>

                                <div class="pull-left text-left">
                                    <br />
                                    <p>Performance Language:</p>
                                    <div class="radio radio-danger">
                                        <input type="radio" name="PerfLanguage" id="input_val11" value="English">
                                        <label for="input_val11">
                                            English
                                        </label>
                                    </div>
                                    <div class="radio radio-danger">
                                        <input type="radio" name="PerfLanguage" id="input_val12" value="Hindi">
                                        <label for="input_val12">
                                            Hindi
                                        </label>
                                    </div>
                                    <div class="radio radio-danger">
                                        <input type="radio" name="PerfLanguage" id="input_val13" value="Regional">
                                        <label for="input_val13">
                                            Regional
                                        </label>
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(model => model.PerfLanguage, "", new { @class = "text-danger" })
                            </div>

                            <div class="col-sm-6  padding0">
                                <div class="pull-left text-left">
                                    <p>Nationality:</p>
                                    <div class="radio radio-danger">
                                        <input type="radio" name="Nationality" id="input_val14" value="Indian">
                                        <label for="input_val14">
                                            Indian
                                        </label>
                                    </div>
                                    <div class="radio radio-danger">
                                        <input type="radio" name="Nationality" id="input_val5" value="Non-Indian">
                                        <label for="input_val15">
                                            Non-Indian
                                        </label>
                                    </div>
                                </div>

                                <div class="pull-left radio-div text-left">
                                    <input type="text" name="Nationality" autocomplete="off" class="form-control chkinput" />
                                    <label class="control-label">Specify</label>
                                    <br />
                                </div>
                                @Html.ValidationMessageFor(model => model.Nationality, "", new { @class = "text-danger" })


                                <div class="clearfix"></div>
                                <div class="form-group drpdwn gen">
                                    <div class="btn-group">
                                        <button data-toggle="dropdown" class="btn dropdown-toggle" data-placeholder="Please select"><span class="selected_val">Select Gender</span> <span class="caret"></span></button>
                                        <ul class="dropdown-menu" style="max-width:230px;">
                                            <li>
                                                <div class="radio radio-danger">
                                                    <input type="radio" name="Gender" id="input_val16" value="Male">
                                                    <label for="input_val16">
                                                        Male
                                                    </label>
                                                </div>
                                            </li>

                                            <li>
                                                <div class="radio radio-danger">
                                                    <input type="radio" name="Gender" id="input_val17" value="Female">
                                                    <label for="input_val17">
                                                        Female
                                                    </label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="radio radio-danger">
                                                    <input type="radio" name="Gender" id="input_val18" value="All Male Group">
                                                    <label for="input_val18">
                                                        All Male Group
                                                    </label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="radio radio-danger">
                                                    <input type="radio" name="Gender" id="input_val19" value="All Female Group">
                                                    <label for="input_val19">
                                                        All Female Group
                                                    </label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="radio radio-danger">
                                                    <input type="radio" name="Gender" id="input_val20" value="Mixed Group">
                                                    <label for="input_val20">
                                                        Mixed Group
                                                    </label>
                                                </div>
                                            </li>

                                            <!-- Other items -->
                                        </ul>
                                        @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                            </div>
                            <div class="clearfix"></div>
                            <div class="btn-nxt-wrp"><a href="javascript:;" class="nextBtn">Next</a></div>

                        </div>
                    </div>

                    <!-- step 3 ends -->
                    <div class="row setup-content step-form-1 step-form-4" id="step-4">
                        <div class="col-md-12 padding0">
                            <br />
                            <p class="text-left">Tagline (Define your talent / act in the most attractive one-liner):</p>
                            <textarea class="form-control" name="ProfileTitle" placeholder="Max 100 Characters" rows="3" id="comment"></textarea>
                            @Html.ValidationMessageFor(model => model.ProfileTitle, "", new { @class = "text-danger" })
                            <br /><br />
                            <p class="text-left">Profile:</p>
                            <textarea class="form-control" name="Profile" placeholder="Max 1500 Characters" rows="3" id="comment"></textarea>
                            @Html.ValidationMessageFor(model => model.Profile, "", new { @class = "text-danger" })
                            <br /><br />
                            <div class="clearfix"></div>
                            <p class="text-left">Add Profile Photo:</p>
                            <div class="form-group">
                                <div class="col-md-8">
                                    <img src="" style="margin-top:-14px;" alt="" id="proimgprvw" height="200" width="200" />
                                    <input type="file" name="profileimg" class="form-control" required id="profileimg" onchange="showimagepreview(this)">
                                    @Html.ValidationMessage("profileimg", "", new { @class = "text-danger" })
                                </div>
                            </div><div class="clearfix"></div><br />
                            <p class="text-left">Add Cover Photo:</p>
                            <div class="form-group col-md-6">
                                <div class="col-md-8">
                                    <img src="" style="margin-top:-14px;" alt="" id="coverimgprvw" height="200" width="300" />
                                    <input type="file" name="coverimg" class="form-control" id="coverImage" onchange="showcoverimagepreview(this)">
                                    @Html.ValidationMessage("coverimg", "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <br class="hidden-xs" />
                            <br class="hidden-xs" />
                        </div>

                        <br />
                        <div class="col-sm-12">
                            <br /><br />

                            <div class="clearfix"></div>
                            @*<div class="photo_sec">
                                    <div class="col-sm-3">
                                        <div class="photo_img">
                                            <img src="~/images/img_1.jpg" alt="" />
                                            <div class="photo_inp checkbox checkbox-danger">
                                                <input id="checkb" type="checkbox">
                                                <label for="checkb">
                                                    Make Profile Photo
                                                </label>
                                            </div>
                                        </div>
                                        <div class="photo_caption">
                                            <input type="text" placeholder="Enter Caption" class="chkinput" />

                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="photo_img addmore">
                                            <img src="~/images/no_image.png" alt="" />
                                        </div>
                                    </div>
                                </div>*@
                            @*<div class="text-left">Add Videos (Upto 8 Videos):</div>
                                <div class="form-group videoupload">

                                    <input autocomplete="off" type="text" class="form-control chkinput">
                                    <label class="control-label">Add your videos</label>

                                </div>
                                <div class="uploadbtn text-left">
                                    <img src="~/images/addmore.png" alt="" />
                                </div>*@


                            @*<div class="form-group">
                                    <input autocomplete="off" type="text" class="form-control chkinput">
                                    <label class="control-label">Attach your PDF file</label>

                                </div>*@

                            <div class="clearfix"></div>

                            <div class="col-sm-12 web_inp checkbox checkbox-danger">

                                <input id="checkb1" type="checkbox">
                                <label for="checkb1">
                                    Add Web Presence (Optional)
                                </label>
                                <br />
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-6 pad0">

                                @*<div class="form-group">
                                        <input autocomplete="off" type="text" class="form-control chkinput">
                                        <label class="control-label">Website URL</label>
                                    </div>*@

                                <div class="form-group">
                                    <input autocomplete="off" name="FBPageLink" type="text" class="form-control chkinput">
                                    <label class="control-label">Facebook id</label>
                                    @Html.ValidationMessageFor(model => model.FBPageLink, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-sm-6 pad0">

                                <div class="form-group">
                                    <input autocomplete="off" name="IntgramPageLink" type="text" class="form-control chkinput">
                                    <label class="control-label">Instagram id</label>
                                    @Html.ValidationMessageFor(model => model.IntgramPageLink, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group">
                                    <input autocomplete="off" name="TwiterPageLink" type="text" class="form-control chkinput">
                                    <label class="control-label">Twitter id</label>
                                    @Html.ValidationMessageFor(model => model.TwiterPageLink, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <input type="submit" class="btn btn-block btn-danger" value="SUBMIT" />@*<a href="javascript:;" class="nextBtn">SUBMIT</a></input>*@

                    </div>
                    <!-- step 4 ends -->

                </div>

            }
        </div>
    </section>

    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">


        </div>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")
    <script src="~/Scripts/postify.js"></script>
    <script type="text/javascript">

        function showimagepreview(input) {
            if (input.files && input.files[0]) {
                var filerdr = new FileReader();
                filerdr.onload = function (e) {
                    $('#proimgprvw').attr('src', e.target.result);
                }
                filerdr.readAsDataURL(input.files[0]);
            }
        }

        function showcoverimagepreview(input) {
            if (input.files && input.files[0]) {
                var filerdr = new FileReader();
                filerdr.onload = function (e) {
                    $('#coverimgprvw').attr('src', e.target.result);
                }
                filerdr.readAsDataURL(input.files[0]);
            }
        }

        function clickme(id)
        {
            var cid = "#City-" + id;
            if ($(cid).is(':checked'))  // or   if( $(this).attr('checked')== true) )
                var get_txt = $(cid).next().text();
            $(".selected_city").html(get_txt);
        }

        $(document).ready(function () {

            $("body").addClass("detail-page page");

            $('.step-nav-1 a').on('click', function () {
                $('.stp1').removeClass('hidden');
                $('.stp2,.stp3,.stp4').addClass('hidden');
                $('.bar_progress').css('width', '18%');
            })
            $('.step-nav-2 a').on('click', function () {
                $('.stp2').removeClass('hidden');
                $('.stp1,.stp3,.stp4').addClass('hidden');
                $('.bar_progress').css('width', '40%');
            })
            $('.step-nav-3 a').on('click', function () {
                $('.stp3').removeClass('hidden');
                $('.stp1,.stp2,.stp4').addClass('hidden');
                $('.bar_progress').css('width', '60%');
            })
            $('.step-nav-4 a').on('click', function () {
                $('.stp4').removeClass('hidden');
                $('.stp1,.stp2,.stp3').addClass('hidden');
                $('.bar_progress').css('width', '100%');
            })

            //$('#DOB').datepicker({
            //    dateFormat: "dd/M/yy",
            //    changeMonth: true,
            //    changeYear: true,
            //    yearRange: "-60:+0"
            //});

            $("input[name=StateId]").on("change", function () {
                $(".selected_city").html("Select City");
                var sId = this.value;
                var url = "/CustomHLPR/GetCities";
                // call for Chapters list via Books
                $.getJSON(url, { StateId: sId }, function (citieslist) {
                    //var clist = $("#CityId");
                    //clist.empty();
                    //$(clist).append($("<option />", { value: "", text: "--Select City--" }));
                    //$.each(citieslist, function (index, item) {
                    //    $(clist).append($("<option />", { value: this.Value, text: this.Text }));
                    //});

                    //City li list
                    var clisttt = $("#CityModelId");
                    clisttt.empty();
                    $.each(citieslist, function (index, item) {
                        var myString = "<li> <div class='radio radio-danger'> <input onclick='clickme(" + this.Value + ")' type='radio' name='CityId' id='City-" + this.Value + "' value='" + this.Value + "' ><label for='City-" + this.Value + "'>" + this.Text + "</label> </div> </li>";
                        $(clisttt).append($(myString));
                    });
                });
            });

        });

        //$(document).on("click", "input[name=CityIddd]", function () {
        //    console.log("Im In forth............");
        //    if ($(this).is(':checked'))  // or   if( $(this).attr('checked')== true) )
        //        var get_txt = $(this).next().text();
        //    $(".selected_city").html(get_txt);
        //});

        
    </script>

}
